@model btlMVC01.Models.SANPHAM

@{
    ViewBag.Title = "Details";
}

    <h2 style="text-align:center">CHI TIẾT SẢN PHẨM</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.hinhanh)*@
            <img src="~/Assets/images/@Html.DisplayFor(model =>model.hinhanh)" style="height:200px;width:200px;" />

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @String.Format("{0:#,###,###,##0.000}", Html.DisplayFor(model => model.gia))<a> VNĐ</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAISANPHAM.tenloaisp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.tenloaisp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.masp }) |
    @Html.ActionLink("Back to List", "Index")
</p>
